.donate{
    border-radius: 100px;
    width: 150px;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 18px;
    border-color: aquamarine;
    height: 30px;
}
.involved{
    border-radius: 100px;
    width: 300px;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 18px;
    border-color: aquamarine;
    height: 50px;
}
.about{
    border-radius: 100px;
    max-width: 100%;
    width: 425px;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 18px;
    border-color: aquamarine;
    height: 60px;
   
}

.but{
    
    .learn{
     
    border-radius: 100px;
    max-width: 100%;
    width: 300px;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 18px;
    border-color: aquamarine;
    height: 40px;
 
    
}
}

.become-volunteer{
     
    border-radius: 100px;
    max-width: 100%;
    width: 300px;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 18px;
    border-color: aquamarine;
    height: 40px;
 
    
}